@import '../../variables.scss';

.container {
  @include tableContainer;
  // padding-right: 50px;
  // padding-left: 50px;
}

.topWrap {
  @include flexrow;
  justify-content: space-between;
  margin: 60px 0 40px 0;

  .searchWrap {
    @include flexrow;

    .select {
      @include border;
      width: 90px;
      padding: 6px;
      font-size: 16px;
      background-color: white;
      &:focus {
        outline: none;
        box-shadow: 0 0 5px rgba(46, 139, 87, 0.5);
      }
    }

    .searchInput {
      @include border;
      width: 230px;
      padding: 10px;
      margin-left: 16px;
      &:focus {
        outline: none;
        box-shadow: 0 0 5px rgba(46, 139, 87, 0.5);
      }
    }

    .searchBtn {
      background-color: #c6d695;
      color: white;
      border: none;
      border-radius: 10px;
      padding: 10px 8px;
      margin-left: 8px;
    }
  }
}
