#filter {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 992px;
    height: 336px;
} 
#sub {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Santokki";
}
.filterA {
    display: flex;
    justify-content: center;
}