@import 'variables.scss';

.regDesign {
  @include formContainer;

  li {
    margin-bottom: 30px;
  }
}

.topText {
  font-weight: normal;
  font-size: 40px;
  font-family: 'Santokki';
  text-align: center;
}
.midText {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  margin-top: 100px;
  margin-bottom: 20px;
}

.title {
  @include flexrow;
  width: 100%;
  justify-content: space-between;
  margin-top: 80px;

  h3 {
    font-size: 20px;
    font-weight: bold;
  }

  p {
    font-size: 16px;
    font-weight: bold;
    span {
      color: red;
    }
  }
}

.line {
  background: $main-color;
  height: 1px;
  border: 0;
  margin: 20px 0;
}

.formEdit {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  ul {
    width: 100%;

    li {
      align-items: center;
      display: flex;
      align-items: center;
    }
  }
  label {
    display: block;
    width: 140px;
    font-weight: bold;
    span {
      color: red;
    }
  }
}
.upload {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #6d885d;
  border-radius: 10px;
  margin: 40px 0;
  width: 100%;
  height: 300px;

  span {
    margin: 0 auto;
    font-size: 16px;
    font-weight: bold;
  }
}

.imgCancelBtnWrap {
  text-align: center;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.cancelBtn {
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 99;
}

.uploadImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.addBtn {
  border: none;
  background-color: #6d885d;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  margin: 20px auto;
  width: 230px;
  padding: 16px 0;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.customSelect {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #6d885d;
  width: 200px;
  &:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(46, 139, 87, 0.5);
  }
}

.customLabel {
  cursor: pointer;
}

.submitBtn {
  background-color: #6d885d;
  color: white;
  border-radius: 10px;
  width: 130px;
  border: none;
  font-weight: bold;
  font-size: 16px;
  padding: 10px 0;
  margin-top: 40px;
  margin-right: 40px;
}

.titleWrap {
  display: flex;
  flex-direction: column;
  width: 100%;

  label {
    font-weight: bold;

    span {
      color: red;
    }
  }

  .titleInput {
    width: 100%;
    padding: 15px;
    border: 1px solid #6d885d;
    border-radius: 10px;
    margin: 0 auto 0px;
    box-sizing: border-box;
    padding: 12px 16px;
    margin-top: 10px;

    &:focus {
      outline: none;
      box-shadow: 0 0 5px rgba(46, 139, 87, 0.5);
    }
  }
}

.editorWrap {
  width: 100%;
  margin-top: 40px;

  label {
    font-weight: bold;
    margin-bottom: 10px;

    span {
      color: red;
    }
  }
}

.radioGroup {
  margin-right: 20px;
  display: flex;
  align-items: center;

  label {
    margin-right: 8px;
    font-weight: normal;
    cursor: pointer;
    width: initial;
  }

  input[type='radio'] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border: 1px solid #6d885d;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    padding: 0;
  }
  input[type='radio']:checked {
    background-color: white;
    border: 4px solid #6d885d;
    box-shadow: 0 0 0 1px #6d885d;
  }
}
