@import 'variables.scss';

.bookmarkContainer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px 20px;

  li {
    border: 1px solid $main-color;
    border-radius: 10px;
    width: 31%;
    overflow: hidden;
  }

  .imgWrapper {
    width: 100%;
    height: 200px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .contentWrapper {
    padding: 10px;
    font-weight: bold;

    .textWrapper {
      @include flexrow;
      justify-content: space-between;

      .name {
        font-weight: lighter;
        font-size: 16px;
      }

      .locationWrap {
        @include flexrow;

        .loc {
          font-size: 12px;
          width: 40px;
          padding: 8px 0;
          background-color: $main-color;
          color: white;
          border-radius: 20px;
          margin-left: 5px;
          text-align: center;
        }
      }
    }
  }
  .bookmarkWrap {
    @include flexrow;
    justify-content: space-between;
    color: #757575;
  }
}
