#btn {
    background-color: #6D885D;
    font-family: "Santokki";
    border: none;
    border-radius: 10px;
    width: 130px;
    height: 44px;
    padding: 10px;
    font-size: 16px;
    color: white;   
}
.topBar {
    font-size: 36px;
    font-family: "Santokki";
    color: #6D885D;
    width: 1200px;
    height: 49px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.companyPage {
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
}