.regDesign {
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;

  li {
    margin: 32px;
  }
  // input {
  //   margin-left: 100px;
  //   border-color: #6d885d;
  //   border-radius: 10px;
  //   height: 43px;
  // }
}
.topText {
  font-weight: normal;
  font-size: 40px;
  font-family: "Santokki";
  margin-top: 110px;
}
.midText {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  margin-top: 100px;
  margin-bottom: 20px;
}
.line {
  border: 1px solid #6d885d;
  width: 1200px; 
  margin-bottom: 50px;
}