:export {
  maincolor: #6D885D;
  subcolor: #C6D695;
  bodycolor: #FFFAF4;
  subfont: "Santokki";
}

.btn {
  background-color: #6D885D;
  border: none;
  border-radius: 10px;
  padding: 10px 0;
  font-size: 16px;
  color: white;
}
.btn.small {
  width: 130px;
}
.btn.medium {
  width: 160px;
}