@import '../../../variables.scss';

.container {
  height: auto;
  min-height: calc(100vh - 200px);
  display: flex;
  flex-direction: column;
}

.topWrapper {
  @include flexrow;
  margin: 30px 0;
  padding-left: 35px;
}

.typeSelect {
  @include flexrow;
  
  li {
    margin-right: 24px;
    font-family: $sub-font;
    color: #A6A6A6;
    cursor: pointer;
  }
}

.searchWrapper {
  @include flexrow;
  
  input {
    @include border;
    outline: none;
    padding: 8px 16px;
  }
  button {
    background-color: $main-color;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 9px 8px;
    margin-left: 8px;
  }
}

.bodyWrapper {
  @include flexrow;
}

