@import '../../../variables.scss';

.container {
  height: auto;
  min-height: calc(100vh - 200px);
  display: flex;
  flex-direction: column;
}

.topWrapper {
  @include flexrow;
  margin: 30px 0;
  padding-left: 35px;
}

.typeSelect {
  @include flexrow;

  li {
    margin-right: 24px;
    font-family: $sub-font;
    color: #a6a6a6;
    cursor: pointer;
    position: relative;

    &:after {
      display: block;
      content: '';
      width: 100%;
      transform: scaleX(0);
      transition: transform 250ms ease-in-out;
    }
    &:hover {
      color: $main-color;
      &:after {
        content: '';
        width: 100%;
        position: absolute;
        bottom: -10px;
        left: 0;
        border-top: 2px solid $main-color;
        transform: scaleX(1);
      }
    }
  }

  .selected {
    color: $main-color;

    &:after {
      content: '';
      width: 100%;
      position: absolute;
      bottom: -10px;
      left: 0;
      border-top: 2px solid $main-color;
      transform: scaleX(1);
    }
  }
}

.searchWrapper {
  @include flexrow;

  input {
    @include border;
    outline: none;
    padding: 8px 16px;
  }
  button {
    background-color: $main-color;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 9px 8px;
    margin-left: 8px;
  }
}

.bodyWrapper {
  @include flexrow;
}
