.card {
    border: 1.5px solid #6D885D;
    border-radius: 10px;
}
.interiorAll {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    
}