.iBar {
  width: 1920px;
  height: 350px;
  background-color: gray;
}
.iBanner {
  position: relative;
}
.bannerText {
  width: 700px;
  position: absolute;
  top: 190px;
  left: 1150px;
  transform: translate(-50%, -50%);
  color: black;
  font-family: 'santokki';
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
#iText {
  margin-bottom: 25px;
}
.btn {
  background-color: #6d885d;
  font-family: 'Santokki';
  border: none;
  border-radius: 10px;
  width: 120px;
  padding: 10px;
  font-size: 16px;
  color: white;
}
