.mainbody {
  margin: 0 auto;
  width: 600px;
  height: auto;
  text-align: center;
  padding: 80px;
}

.containerbox {
  margin: 0 auto;

  width: 600px;
  height: auto;
  border: 1px solid grey;
  border-radius: 20px;
  text-align: center;
  background-color: white;
}

.main {
  padding: 10px;
  font-weight: bold;
  color: #6d885d;
  font-family: Santokki;
}

.title {
  padding-top: 20px;
  text-align: center;
  font-weight: bold;
  color: #6d885d;
}

.td {
  width: 60px;
}

.tr {
  height: 50px;
  padding: 30px;
  border-collapse: separate;
  border-spacing: 10px 10px;
}

.leftcol {
  width: 25%;
  text-align: center;
  font-weight: bold;
  color: #6d885d;
}

.rightcol {
  width: 65%;
  text-align: left;
  padding: 10px;
}

.upload-button {
  width: 200px;
  height: 68px;
  padding: 10px 20px;
  background-color: #6d885d;
  color: white;
  border: none;
  border-radius: 17px;
  font-size: 16px;
  cursor: pointer;
}
