.mainbody{
    margin: 0 auto;
    width: 1280px;
    height: auto;
    text-align: center;
}
.containerbox {
    margin: 0 auto;
    width: 600px;
    height: auto;
    border: 1px solid grey;
    border-radius: 20px;
    text-align: center;
}