@import '../../../variables.scss';

.listWrapper {
  width: 40%;
  height: 100vh;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 10px;
  }
  &::-webkit-scrollbar-thumb {
    background: #9da996; /* 스크롤바 색상 */
    border-radius: 10px; /* 스크롤바 둥근 테두리 */
  }

  &::-webkit-scrollbar-track {
    background: #f0f0f0; /*스크롤바 뒷 배경 색상*/
  }

  li {
    @include flexrow;
    border-bottom: 1px solid $main-color;
    padding: 20px;
    cursor: pointer;

    &:last-of-type {
      border: none;
    }
  }
}

.imgWrapper {
  width: 60%;
  height: 233px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }
}

.textWrapper {
  width: 40%;
  padding-left: 20px;

  p {
    font-size: 14px;
    margin-bottom: 20px;
    line-height: 1.2;

    &:last-of-type {
      @include ellipse;
      margin-bottom: 0;
    }
  }

  .price {
    font-weight: bold;
    font-size: 18px;
  }
}
