.houseCard {
  width: 278px;
  height: 261px;
  background-color: #FFFAF4;
  border: 1px solid #6D885D;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.2s;
}

.houseCard:hover {
  transform: scale(1.02);
}

.houseImage {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.houseDetails {
  padding: 15px;
}

.likeSection {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #6D885D;
  margin-bottom: 10px;
}

.likeIcon {
  margin-right: 5px;
}

.houseTitle {
  font-size: 16px;
  font-weight: bold;
  color: #333;
  line-height: 1.5; 
}
