@import 'variables.scss';

.bookmarkContainer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px 20px;

  li {
    border: 1px solid $main-color;
    border-radius: 10px;
    width: 31%;
    overflow: hidden;
  }

  .imgWrapper {
    width: 100%;
    height: 200px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .contentWrapper {
    padding: 10px;

    .title {
      @include ellipse;
      font-weight: bold;
    }
  }
  .bookmarkWrap {
    @include flexrow;
    justify-content: space-between;
    margin-top: 8px;

    .userWrap {
      @include flexrow;

      p {
        margin-left: 8px;
      }
    }
  }
}
