.modalContent {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 10px 0;

  .searchWrap {
    margin: 0 auto;
  }

  .searchInput {
    width: 450px;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
  }

  .searchButton {
    margin-left: 20px;
    background-color: #c6d695;
    color: white;
    font-weight: bold;
    padding: 13px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .list {
    width: 100%;
  }

  .result {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;;
    padding: 12px;
    background-color: #f8f8f8;
    border: 1px solid #e2e2e2;
    border-radius: 10px;
    margin-bottom: 10px;
    transition: background-color 0.3s ease;
    cursor: pointer;

    &:hover {
      background-color: #c6d695; // 초록색 배경색
    }

    span {
      flex: 1;
      text-align: center;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      color: #6b6969;
    }

    span:first-child {
      flex:2;
    }
    span:nth-child(2) {
      flex:5;
    }
  }
}
