@import 'variables.scss';

.Container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $body-color;
  padding: 0 30px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  position: relative;
}

.navWrapper {
  display: flex;
  justify-content: center;
  flex: 1;

  ul {
    @include flexrow;

    li {
      font-family: 'Santokki';
      padding: 0 20px;

      a {
        font-size: 20px;
      }
    }
  }

  &.loggedIn {
    margin-left: 165px;
  }
}

.btn {
  background-color: $main-color;
  font-family: $sub-font;
  border: none;
  border-radius: 10px;
  width: 130px;
  padding: 12px 0;
  font-size: 16px;
  color: white;
}

.writeWrapper {
  position: absolute;
  top: 75px;
  right: 163px;
  padding: 10px;
  background-color: $body-color;
  @include border;

  li {
    padding: 16px 10px;

    &:hover {
      background-color: rgba(217, 217, 217, 10);
      border-radius: 10px;
    }
  }
}

.loginMenuWrap {
  @include flexrow;
  min-width: 200px;

  .notificationWrap {
    cursor: pointer;
    position: relative;

    p {
      width: 18px;
      height: 18px;
      border-radius: 50%;
      position: absolute;
      top: 0;
      right: -5px;
      background-color: $main-color;
      color: white;
      font-size: 10px;
      text-align: center;
      line-height: 1.7;
    }
  }

  .userProfile {
    @include flexrow;
    margin-left: 16px;
    cursor: pointer;

    .name {
      font-family: $sub-font;
      font-size: 20px;
      color: $main-color;
      margin-left: 10px;
    }
  }
  button {
    margin-right: 30px;
  }

  .logoutBtn {
    background-color: $main-color;
    font-family: $sub-font;
    border: none;
    border-radius: 10px;
    width: 60px;
    padding: 12px 0;
    font-size: 16px;
    color: white;
    margin-left : 30px;
  }

  .profileImage {
    width: 30px;
  }
}
