#filter {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-right: 20px;
}

#sub {
    display: flex;
    flex-direction: column;
    font-family: 'Santokki';
    width: 48px;
}