#filter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-right: 20px;
  margin-left: 33px;
}

#sub {
  display: flex;
  flex-direction: column;
  font-family: 'Santokki';
  width: 42px;
}

.selected {
  border: 1px solid #6d885d;
  transform: scale(1.1);
}
