.category {
    border: 1px solid #6d885d;
    border-radius: 100px;
    background: none;
    width: 85px;
    height: 45px;
    color: #6d885d;
    font-weight: bold;
    margin-right: 7px;
}
.width {
    width: 600px;
}
.customTitle {
    background-color: #FFFAF4;
    display: flex;
    justify-content: center;
}

.spanStyle {
    color: #ABAAAA;
    font-size: 15px;
    font-weight: bold;
    margin: 20px;
}
.divStyle {
    margin-top: 50px;
}
#detail {
    margin-right: 5px;
}
#top {
    color: black;
}

