@import '../../../variables.scss';

.container {
  @include formContainer;
  padding: 100px 0;

  .sectionTitleWrp {
    margin-top: 40px;

    .sectionTitle {
      font-size: 20px;
      font-weight: bold;
    }
  }
}

.profile {
  @include flexrow;

  p {
    font-weight: bold;
    margin-left: 10px;
  }
  .createdAt {
    font-weight: normal;
    color: #757575;
    margin-left: 20px;
  }
}

.line {
  background: $main-color;
  height: 1px;
  border: 0;
  margin: 20px 0;
}

.title {
  @include flexrow;
  width: 100%;
  justify-content: space-between;

  p {
    font-size: 16px;
    font-weight: bold;
  }
}

.item {
  @include flexrow;
  margin-bottom: 30px;
  width: 100%;

  label {
    font-weight: bold;
    width: 140px;
  }
}

.content {
  @include border;
  width: 860px;
  padding: 16px;
}

.btnWrap {
  @include flexrow;
  justify-content: center;
  margin: 80px 0;
}
