.user {
    display: flex;
    margin-bottom: 20px;
}
.nameInfo {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    width: 150px;

    span {
        margin-top: -3px;
        margin-bottom: 3px;
    }
}
#name {
    height: 20px;
    font-weight: bold;
    font-family: 'Noto Sans KR';
}
#info {
    height: 18px;
    font-weight: bold;
    font-family: "Noto Sans KR";
}
.line {
    border: 1px solid #6d885d;
    width: 1200px; 
    margin-bottom: 50px;
  }
  .all {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    li {
        display: flex;
        margin-bottom: 40px;
    }

    textarea {
        width: 950px;
        height: 200px;
        resize: none;
        padding: 10px;
        border-radius: 10px;
        border: 1px solid #6d885d;
    }
    button {
        width: 140px;
        height: 44px;
        border-radius: 10px;
        color: white;
        background-color: #6d885d;
        border: none;
        font-weight: bold;
        margin-bottom: 80px;
    }
  }
  .title {
    font-size: 40px;
    font-family: 'Santokki';
    margin-bottom: 90px;
    margin-top: 80px;
  }
  .semiTitle {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  .upDate {
    color: #ABAAAA;
    font-weight: bold;
    margin-left: 900px;
}
.category {
    font-weight: bold;
    width: 150px;
    margin-right: 50px;
}
.content {
    font-weight: bold;
    padding-left: 2rem;
    width: 150px;
    margin-right: 70px;
}
.contentDeco {
    display: flex;
    margin-bottom: 90px;
}