.card {
  width: 277px;
  height: 335px;
  background-color: #fffaf4;
  border: 1px solid #6d885d;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
}

.cardImage {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.cardContent {
  padding: 15px;
}

.type {
  font-size: 14px;
  margin-bottom: 10px;
}

.rent {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.location {
  font-size: 14px;
  margin-bottom: 10px;
}

.description {
  font-size: 14px;
}

.contentWrapper {
  position: absolute;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  bottom: 0;
  opacity: 0;
  transition: opacity 0.35s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contentWrapper:hover {
  opacity: 1;
}
