.fix {
  width: 384px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  border: 1px solid #6d885d;
  border-radius: 10px;
  margin-right: 16px;
}
.title {
  font-weight: bold;
  margin-bottom: 8px;
  margin-top: 10px;
}
.company {
  font-weight: bold;
  color: #757575;
}
.wrapTitle {
  margin-left: 10px;
  margin-bottom: 10px;
}
.card {
  color: inherit; /* 부모 요소의 색상 상속 */
}
.imgWrap {
  width: 100%;
  height: 242px;
  overflow: hidden;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
