@import 'variables.scss';

.container {
  @include container;
  width: 800px;
  padding: 100px 0;

  h2 {
    font-family: $sub-font;
    font-size: 40px;
    text-align: center;
  }
}

.btn {
  text-align: center;
}

section {
  margin-top: 40px;

  h3 {
    font-size: 20px;
    font-weight: bold;
  }
}

.addBtn {
  border: none;
  background-color: #6d885d;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  margin: 20px auto;
  width: 230px;
  padding: 16px 0;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.title {
  @include flexrow;
  width: 100%;
  justify-content: space-between;

  p {
    font-size: 16px;
    font-weight: bold;
    span {
      color: red;
    }
  }
}
.subLabelWrap {
  display: flex;
  flex-direction: column;
  margin-right: 10px;

  label {
    font-weight: normal;
    margin-bottom: 8px;
    font-size: 14px;
  }
}

.inputTextWrap {
  @include flexrow;
  position: relative;

  p {
    position: absolute;
    right: 10px;
    font-size: 14px;
  }
}
.line {
  background: $main-color;
  height: 1px;
  border: 0;
  margin: 20px 0;
}

.item {
  @include flexrow;
  margin-bottom: 30px;
  padding-right: 20px;

  label {
    font-weight: bold;
    width: 180px;

    span {
      color: red;
    }
  }
  input {
    @include border;
    padding: 12px 16px;
    width: 170px;
    &:focus {
      outline: none;
      text-align: left;
      box-shadow: 0 0 5px rgba(46, 139, 87, 0.5);
    }
  }

  .select {
    width: 235px;
    padding: 10px;
    @include border;
    font-size: 16px;
    background-color: white;
    &:focus {
      outline: none;
      box-shadow: 0 0 5px rgba(46, 139, 87, 0.5);
    }
  }

  .radioGroup {
    margin-right: 20px;

    label {
      margin-right: 8px;
      font-weight: normal;
      cursor: pointer;
    }

    input[type='radio'] {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      width: 15px;
      height: 15px;
      border: 1px solid $main-color;
      border-radius: 50%;
      outline: none;
      cursor: pointer;
      padding: 0;
    }
    input[type='radio']:checked {
      background-color: white;
      border: 4px solid $main-color;
      box-shadow: 0 0 0 1px $main-color;
    }
  }
}

.items {
  @include flexrow;
  margin-bottom: 30px;
  padding-right: 20px;

  label {
    font-weight: bold;
    width: 180px;

    span {
      color: red;
    }
  }

  .checkboxGroup {
    margin-right: 20px;

    input[type='checkbox'] {
      accent-color: $main-color;
      width: 15px;
      height: 15px;
      padding: 20px;
    }
    label {
      margin-right: 10px;
      width: 80px;
      padding: 5px;
      font-weight: normal;
    }
  }
}

.subLabelWrap {
  display: flex;
  flex-direction: column;
  margin-right: 10px;

  label {
    font-weight: normal;
    margin-bottom: 8px;
  }
}

.textareaWrap {
  position: relative;
  width: 100%;

  .detailTextarea {
    @include border;
    width: 100%;
    height: 200px;
    padding: 16px;
    resize: none;
    &:focus {
      outline: none;
      box-shadow: 0 0 5px rgba(46, 139, 87, 0.5);
    }
  }
  p {
    position: absolute;
    bottom: 20px;
    right: 10px;
    color: #757575;
  }
}
.btnWrap {
  @include flexrow;
  display: flex;
  justify-content: center;
  margin-top: 80px;
  margin-left: 200px;

  button {
    &:first-child {
      margin-right: 40px;
    }
  }
}

/* 커버 이미지 업로드 스타일 */
.upload {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #6d885d;
  border-radius: 10px;
  margin: 40px 0;
  padding: 60px 0;
  width: 100%;
  span {
    margin: 0 auto;
  }
}
.add {
  border: none;
  background-color: #6d885d;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  margin: 20px auto;
  width: 230px;
  padding: 16px 0;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.coverUploadContainer p {
  color: #777;
  font-size: 16px;
  margin-bottom: 20px;
}

.uploadButton {
  width: 200px;
  height: 68px;
  padding: 10px 20px;
  background-color: #6d885d;
  color: white;
  border: none;
  border-radius: 17px;
  font-size: 16px;
  cursor: pointer;
}

.uploadButton:hover {
  background-color: #567d1b;
}
