@import 'variables.scss';

.subNav {
  @include flexrow;
  margin-bottom: 60px;

  li {
    margin-right: 20px;
  }

  a {
    font-family: $sub-font;
    color: #757575;
    font-size: 24px;
  }

  .active {
    display: inline-block;
    position: relative;

    &:after {
      content: '';
      display: block;
      border-bottom: 3px solid $main-color;
      width: 105%;
      position: absolute;
      bottom: -10px;
    }

    a {
      color: $main-color;
    }
  }
}
