@import '../../variables.scss';

$title-color: #6b6969;
$input-border: 1px solid #ddd;
$input-height: 45px;
$input-radius: 10px;

.title {
  font-size: 25px;
  font-family: $sub-font;
  margin-top: 40px;
  margin-bottom: 20px;
  color: $title-color;
}

.radioContainer {
  display: flex;
  height: 40px;
  align-items: center;
  cursor: pointer;

  img {
    margin-right: 5px;
  }

  .checkRadio {
    display: flex;
    align-items: center;
    margin-left: 10px;
    p {
      cursor: pointer;
    }
  }

  .unCheckRadio {
    display: flex;
    align-items: center;
    margin-left: 10px;
  }

  p {
    color: $title-color;
  }
}

b {
  color: red;
  margin-left: 3px;
  font-weight: bold;
}

.joinForm {
  display: flex;
  flex-direction: column;
  width: 489px;
  margin: 0 auto;

  .inputGroup {
    width: 100%;
    margin-bottom: 15px;
  }

  span {
    color: $title-color;
    font-size: 14px;
  }

  .input1 {
    padding-left: 7px;
    width: 385px;
    height: 45px;
    border-radius: 10px;
    border: 1px solid #ddd;
    margin-top: 10px;
  }

  .input2 {
    padding-left: 7px;
    width: 100%;
    height: 45px;
    border-radius: 10px;
    border: 1px solid #ddd;
    margin-top: 10px;
  }

  .input3 {
    padding-left: 7px;
    width: 210px;
    height: 45px;
    border-radius: 10px;
    border: 1px solid #ddd;
    margin-top: 10px;
  }

  .input4 {
    padding-left: 7px;
    width: 240px;
    height: 45px;
    border-radius: 10px;
    border: 1px solid #ddd;
    margin-top: 10px;
  }

  input[readOnly] {
    background-color: #f5f5f5;
  }

  .checkButton {
    background-color: $sub-color;
    color: white;
    font-weight: bold;
    width: 80px;
    height: 45px;
    border-radius: 10px;
    margin-left: 14px;
    border: 1px solid #ddd;

    &:disabled {
      background-color: $main-color;
    }
  }

  .checkButton.checked {
    background-color: $main-color;
  }

  .imageUploadBox {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    border-radius: 10px;
    border: 1px dashed #ddd;
    background-color: #f5f5f5;
    cursor: pointer;
    position: relative;
    margin-top: 10px;
  }

  .imageInput {
    // opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    cursor: pointer;
  }
  .imageUploadBox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    max-width: 100%;
    min-height: 100px;
    max-height: 100%;
    overflow: hidden;
  }
  .imageUploadBox img {
    width: 100%;
    height: auto;
    object-fit: contain;
  }

  .imageUploadBox label {
    color: #6b6969;
    font-size: 14px;
  }

  .imagePreview {
    margin-top: 10px;
    text-align: center;
  }

  .previewImage {
    max-width: 100%;
    max-height: 200px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 5px;
  }
}

.checkContainer {
  display: flex;
  flex-direction: column;
  margin: 30px 0 30px 0;

  span {
    margin-top: 10px;
  }

  .checkboxGroup {
    margin-right: 20px;

    input[type='checkbox'] {
      accent-color: $main-color;
      padding: 20px;
      width: 15px;
      height: 15px;
    }
    label {
      margin-right: 10px;
      padding: 10px;
      font-weight: normal;
    }
  }
}

.button {
  width: 100%;
  padding: 12px;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin: 10px;
  transition: background-color 0.3s ease;
  background-color: $sub-color;
}

.companyAddress {
  width: 300px;
  margin-right: 10px;
}
