.appContainer {
  background-color: #fffaf4;
}

.ant-modal .ant-modal-content {
  background-color: #fffaf4;
  font-family: "Noto Sans KR";
}

.slick-slider
{
    width: 1200px;
}
.slick-slide {
    width:30%;
    padding: 23px;
}

.slick-prev:before, .slick-next:before {
    font-size: 35px !important;
    color: #6D885D !important;
}
.slick-prev {
    left: -40px !important;
}

