$main-color: #6d885d;
$sub-color: #c6d695;
$body-color: #fffaf4;
$sub-font: 'Santokki';

@mixin container {
  width: 1200px;
  margin: 0 auto;
  min-height: calc(100vh - 200px);
  padding: 100px 0;

  h2 {
    font-size: 40px;
    font-family: $sub-font;
    text-align: center;
  }
}

@mixin formContainer {
  width: 800px;
  margin: 0 auto;
  min-height: calc(100vh - 200px);
  padding: 100px 0;

  h2 {
    font-size: 40px;
    font-family: $sub-font;
    text-align: center;
  }
}

@mixin ellipse {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  word-break: break-all;
}

@mixin flexrow {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@mixin border {
  border: 1px solid $main-color;
  border-radius: 10px;
}

@mixin imgSize {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

:export {
  maincolor: $main-color;
  subcolor: $sub-color;
  bodycolor: $body-color;
  subfont: $sub-font;
}
