.house-info-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 0px 20px 0px;
    background-color: #FFFAF4;
    /* font-family: 'Santokki', sans-serif; */
  }
  
  .house-info-header {
    width: 1200px;
    display: flex;
    align-items: center;
    margin-bottom: 50px;
  }
  
  .back-button {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
  }
  
  .title {
    font-size: 24px;
    font-weight: bold;
    margin-left: 50px;
    /* flex-grow: 1; */
  }
  
  .user-section {
    width: 1200px;
    display: flex;
    align-items: center;
    margin-bottom: 26px;
    margin-left: 75px;
  }
  
  .user-info {
    display: flex;
    align-items: center;
  }
  
  .profile-icon {
    font-size: 40px;
    background-color: #6D885D;
    color: white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
  }
  
  .username {
    font-size: 24px;
    color: #6D885D;
  }
  
  .actions {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .edit-button {
    width: 130px;
    height: 44px;
    margin-left: 700px;
    background-color: #6D885D;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .bookmark {
    display: flex;
    align-items: center;
    gap: 5px;
    color: #6D885D;
    font-size: 16px;
  }
  
  .details-card {
    margin-left: 75px;
    width: 1000px;
    height: 350px;
    background-color: #FFFAF4;
    padding: 20px;
    border-radius: 19px;
    border: 1px solid #6D885D;
  }
  
  .details-icons {
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
    margin-top: 30px;
  }
  
  .icon-item {
    text-align: center;
    font-size: 24px;
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  hr {
    border: none;
    border-top: 1px solid #ccc;
    margin: 10px 0;
  }
  
  .additional-details {
    font-size: 16px;
    color: #333;
    margin: 80px;
  }
  
  .additional-details p {
    margin: 5px 0;
  }
  