.postDetailContainer {
  max-width: 1200px;
  margin: 0 auto;
  padding: 65px 0px;
  background-color: #fffaf4;
  font-family: 'Noto Sans KR', sans-serif;
}

.postImageContainer {
  width: 100%;
  max-width: 1920px;
  height: 560px;
  overflow: hidden;
  margin: 0 auto;
}

.postImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.headerTitle {
  font-size: 30px;
  font-weight: bold;
  margin-left: 30px;
}

.backButton {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  margin-right: 10px;
}

.userSection {
  width: 1050px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 75px 25px 75px;
}

.userInfo {
  display: flex;
  align-items: center;
}

.profileIcon {
  font-size: 40px;
  background-color: #6d885d;
  color: white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.username {
  font-size: 24px;
  color: #6d885d;
}

.editButton {
  width: 130px;
  height: 45px;
  background-color: #6d885d;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 10px;
  font-size: 16px;
}

.detailsCard {
  width: 1050px;
  height: 350px;
  background-color: #fffaf4;
  padding: 50px 30px;
  border-radius: 19px;
  border: 1px solid #6d885d;
  margin: 0 75px 70px 75px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.detailContent {
  font-size: 20px;
  margin: 60px 50px;
}

.detailsIcons {
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
}

.iconItem {
  text-align: center;
  font-size: 24px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.postContent {
  font-size: 20px;
  color: #333;
  margin-bottom: 20px;
  line-height: 1.5;
  padding: 0 75px 50px 75px;
}

.commentsSection {
  width: 1200px;
  margin-top: 40px;
  padding: 20px;
  background-color: #fefaf4;
  border-radius: 10px;
}

.comment {
  margin-top: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #6d885d;
  padding-bottom: 10px;
  font-weight: bold;
}

.commentHeader {
  margin-top: 20px;
}

.commentDate {
  font-size: 16px;
  color: #888;
}

.commentContent {
  min-height: 95px;
  flex-grow: 1;
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #6d885d;
  border-radius: 10px;
  background-color: #fff;
  font-size: 16px;
  color: #888;
  font-family: 'Noto Sans KR', sans-serif;
}

.commentInput {
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  padding: 20px;
}

.textArea {
  height: 150px;
  flex-grow: 1;
  resize: none;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #6d885d;
  border-radius: 10px;
}

.submitButton {
  background-color: #c8dba8;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
}

.textArea::placeholder {
  color: #888;
}

.submitButton:hover {
  background-color: #b0c591;
}

.commentOutput {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
  background-color: #fefaf4;
  border-radius: 10px;
  padding: 0px 20px 20px 20px;
}
